* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  font-family: sans-serif;
}

.container {
  width: 1240px;
  margin: auto;
  /* background-color: red; */
}

.navbar {
  display: flex;
  padding: 30px 0px;
  align-items: center;
  justify-content: center;
  gap: 124px;
}

.header-wrapper {
  border-bottom: 1px solid rgb(201, 199, 199);
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
}

.nav-links {
  width: auto;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

.nav-links:hover {
  text-decoration: underline;
}

.header-bg {
  position: relative;
  background-image: url(/images/Rectangle\ 26.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 1000px;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header-title {
  position: absolute;
  width: 636px;
  height: 201px;
  top: 306px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #FFFFFF;
}

.header-center {
  position: absolute;
  top: 567px;
  width: 270px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-text {
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}

.header-footer {
  position: absolute;
  top: 849px;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.header-footer-item {
  height: 151px;
  padding: 35px;
  background-color: #8D86C9;
}

.header-footer-content {
  display: flex;
  align-items: start;
  gap: 55px;
}

.header-footer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.header-footer-icons {
  margin-top: -8px;
}

.section-main {
  display: flex;
  flex-direction: column;
  padding: 175px 0px 150px 0px;
  gap: 150px;
}

.court-items {
  position: relative;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.court-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
}

.court-text {
  position: absolute;
  bottom: 65px;
  color: black;
  text-align: center;
  width: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.sport-section {
  position: relative;
  width: 1076px;
  height: 654px;
  display: flex;
  align-items: center;
}

.sport-img {
  z-index: 2;
}

.sport-content {
  position: absolute;
  left: 440px;
  width: 636px;
  height: 654px;
  padding: 70px 60px 84px 146px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #F7ECE1;
}

.sport-title {
  width: 430px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: #333333;
}

.sport-text {
  width: 430px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}

.sport-subtitle {
  padding: 10px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  color: #333333;
}

.sport-content-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sport-content-item {
  position: relative;
  display: flex;
}

.sport-item-text {
  position: absolute;
  left: 30px;
  top: -4px;
}

.trainer-section {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.trainer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trainer-top-controls {
  display: flex;
  gap: 15px;
  align-items: center;
}

.trainer-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14.5px 14.5px;
  background: linear-gradient(45deg, rgb(141, 134, 201) 69%, rgb(255, 255, 255) 90%, rgb(141, 134, 201) 100%);
}

.trainer-arrow:hover {
  box-shadow: 0px 0px 80px 5px #6e63d6;
}

.trainer-arrow:active {
  transition: 1s;
  box-shadow: 0px 0px 10px 3px #857be0;
}

.trainer-items {
  display: flex;
  gap: 15px;
}

.trainer-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.trainer-item-title {
  width: auto;
  text-align: center;
}

.trainer-item-text {
  width: auto;
  text-align: center;
  color: #333333;
  opacity: 0.9;
}

.price-section {
  display: flex;
  gap: 134px;
}

.price-left {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.price-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.price-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15.5px 30px;
  background: linear-gradient(45deg, rgb(141, 134, 201) 69%, rgb(255, 255, 255) 90%, rgb(141, 134, 201) 100%);
}

.price-item-content:hover {
  box-shadow: 0px 0px 100px 10px #8D86C9;
}

.price-item-content:active {
  transition: 1s;
  box-shadow: 0px 0px 10px 5px #8D86C9;
}

.price-right {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.price-item-text {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  color: #FFFFFF;
}

.trainer-items {
  position: relative;
  padding: 30px 25px;
}

.trainer-items-text {
  position: absolute;
  top: 232px;
  left: 65px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 140%;
  color: #FFFFFF;
}

.footer {
  bottom: 0px;
  z-index: 5;
  background-color: #F7ECE1;
  padding: 15px 0px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  transition: 1s;
}

.footer-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  opacity: 0.3;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 19px;
}